{% extends 'preferencesLayout.html.twig' %}
{% block contenido %}
<div class="evento-main">
	<div>
		{% block preferencesNav %}
			<div class="text-center evento-nav">
				<h2>Introduce los datos del nuevo evento:</h2>
			</div><br>
		{% endblock %}
		{% block preferencesFrame %}{% endblock %}
	</div>
</div>
{% endblock %}